body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #dbdbff;
}

header {
    background: #222;
    color: #dbdbff;
    padding: 20px;
    text-align: center;
}

.data-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

footer {
    margin-top: 30px;
    padding: 10px;
    background: #222;
    color: #dbdbff;
    text-align: center;
}
  
.data {
    display: flex;
    flex-wrap: nowrap; 
    align-items: flex-start;
    gap: 20px;
    margin: 10px;
    text-align: center;
}

.weather-data{
    width: 72%;
}

table {
    border-collapse: collapse;
    flex-shrink: 1;
    overflow-x: auto;
    display: block; 
}

th, td {
    border: 2px solid black;
    padding: 2px;
    text-align: center;
    background-color: #b6b6ff;
}

.weather-data td:last-child{
    border: 0px;
    text-align: center;
    background-color: #dbdbff;
}

aside {
    width: 28%;
    min-width: 250px;
    flex-shrink: 0; 
    margin-left: 10px;
}

#filters {
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
    margin-left: 5px;
}

#filters select, #filters input {
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid black;
}

#filters select, #filter-temp-min, #filter-temp-max, #filter-wind-min, #filter-wind-max {
    text-align: center;
}

#filters #filter-season{
    width: 100px;
}

#filters #filter-weather-type{
    width: 135px;
}

#filter-temp-min, #filter-temp-max, #filter-wind-min, #filter-wind-max{
    width: 133px;
}

.button-add, .button-remove, #confirm-plan {
    margin: 10px 23px;
    color: white;
    border: none;
    padding: 10px;
    max-width: 100px;
    border-radius: 10px;
    font-size: 15px;
}

#confirm-filters, #reset-filters{
    color: white;
    border: none;
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
}

.button-remove{
    margin: 10px 8px;
}

.button-add, #confirm-filters, #confirm-plan {
    background-color: blue; 
}

.button-remove, #reset-filters {
    background-color: red; 
}

.button-add:hover, .button-remove:hover, #confirm-filters:hover, #confirm-plan:hover {
    opacity: 0.8;
}